link(rel="stylesheet", href="styles.css", data-inline)

div(class='container')
  div(class='header')
    div(class='logo')
      img(src='https://sorfeai.ams3.digitaloceanspaces.com/logo.png')
    p(class='heading') Запись на прием
      
  div(class='label') Имя 
  div(class='box') #{name}

  div(class='label') Телефон 
  div(class='box') 
    a(href=`tel:${internationalPhone}`) #{phone}
  
  if dentist
    div(class='label') Врач 
    div(class='box') #{dentist}
  
  if email
    div(class='label') E-mail 
    div(class='box')
      a(href=`mailto:${email}`) #{email}

  div(class='label') Проблема 
  div(class='box') #{problem}
